@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
    background-color: white;
}
a {
	text-decoration: none;
    cursor: pointer;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
    overflow: hidden;
}
h1 {
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
h2 {
    font-size: 2.5rem;
    color: var(--red);
}
h3 {
    font-size: 1.8rem;
    color: var(--red);
}
p {
    color: var(--pink);
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
}
:root {
    --bluee: #1D3C78;
    --white: white;
    --other-white: rgb(234, 234, 234);
}

/* Header */

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}


#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: var(--black);
	transition: 0.3s ease background-color;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
    justify-self: center;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-bar .brand a h1 {
    color: white;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
    background-color: transparent;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: var(--bluee);

}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}

/* End Header */

/* Hero Section */

#hero {
    background-image: url(https://scontent.fpiu1-1.fna.fbcdn.net/v/t39.30808-6/310282424_529106852555108_864114877436357299_n.jpg?stp=dst-jpg_s1080x2048&_nc_cat=103&ccb=1-7&_nc_sid=e3f864&_nc_ohc=8_CT0bIHgykAX_yT57Q&_nc_ht=scontent.fpiu1-1.fna&oh=00_AfDIkuuLl_VtNzEz5Rn20QHcxRRoZIcA4ggOXrk6Z43bmQ&oe=6455759E);
	background-size: contain;
	background-position: top center;
	position: relative;
	z-index: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}
#hero .hero-container {
    height: 90vh;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    text-align: center;
}
#hero .hero-container h1 {
    font-size: 3.5rem;
    letter-spacing: .1rem;
    color: var(--white);
    margin-bottom: 20px;
    max-width: 300px;
}

/* End Hero Section */


/* Services Section */

.services-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.services-container .services-top {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-container .services-bot {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-container .services-bot .services-items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}
.services-container .services-bot .services-items-container .services-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: start;
    align-items: center;
    margin-bottom: 1px;
    background-color: rgb(217, 217, 217);
    max-width: 450px;
}
.services-container .services-bot .services-items-container .services-item .services-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    margin: 8px;
}
.services-container .services-bot .services-items-container .services-item .services-item-img img {
    object-fit: fill;
}
.services-container .services-bot .services-items-container .services-item .services-item-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    margin: 8px 0px;
}

/* End Services Section */

/* Cases Section */

.cases-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.cases-container .cases-top {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cases-container .cases-bot {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cases-container .cases-bot .cases-items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}
.cases-container .cases-bot .cases-items-container .cases-item {
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;
}
.cases-container .cases-bot .cases-items-container .cases-item .cases-item-img {
    width: 100%;
    background-color: var(--bluee);
    padding-bottom: 4px;
}
.cases-container .cases-bot .cases-items-container .cases-item .cases-item-info {
    background-color: var(--bluee);
    width: 100%;
    margin-bottom: 1px;
    padding: 0px 8px;
}
.cases-container .cases-bot .cases-items-container .cases-item .cases-item-info p {
    color: white;
    margin-bottom: 8px;
}
.cases-container .cases-bot .cases-items-container .cases-item .cases-item-info h3 {
    margin-bottom: 12px;
    color: white;
}

/* End Cases Section */

/* About Section */

#about {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    max-width: 450px;
}
.about-container .about-img {
    width: 100%;
    background-color: var(--bluee);
    margin-bottom: 12px;
}
.about-container .about-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-container .about-info h2 {
    margin-bottom: 12px;
}

/* End About Section */

/* Contact Section */

#contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}
.contact-container .contact-top {
    width: 100%;
    max-width: 600px;
    margin-bottom: 12px;
}
.contact-container .contact-top iframe {
    width: 100%;
    height: 450px;
}
.contact-container .contact-bot {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-container .contact-bot .contact-items-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 350px;
}
.contact-container .contact-bot .contact-items-container .contact-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 12px;
}
.contact-container .contact-bot .contact-items-container .contact-item .contact-item-img {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
}
.contact-container .contact-bot .contact-items-container .contact-item .contact-item-img img {
    object-fit: contain;
}
.contact-container .contact-bot .contact-items-container .contact-item .contact-item-info {
    border-top: 1px solid var(--bluee);
    padding: 8px 12px 0px;
    margin: 0px 12px;
}
.contact-container .contact-bot .contact-items-container .contact-item .contact-item-info:nth-child(2) h3 {
    margin-bottom: 8px;
}
.contact-container .contact-bot .contact-items-container .contact-item .contact-item-info p a {
    color:  black;
    border: 1px solid var(--bluee);
    padding: 4px 8px;
}
.contact-container .contact-bot .contact-items-container .contact-item .contact-item-info p a:hover {
    color: white;
    background-color: var(--bluee);
}

/* End Contact Section */

/* Footer */

#footer .footer-container {
    background-image: linear-gradient(60deg, rgb(41, 50, 60) 0%, rgb(72, 85, 99) 100%);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
    text-align: center;
}
#footer .footer-container .schedule {
    margin: 20px;
}
#footer .footer-container .schedule h3 {
    margin-bottom: 12px;
    color: white;
}
#footer .footer-container .schedule p {
    color: white;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    text-align: center;
    line-height: 2.5rem;
}
#footer .footer-container .social-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
#footer .footer-container .social-icons .social-item {
    width: 44px;
    margin: 0 16px;
}
#footer .footer-container .social-icons .social-item a {
    width: 100%;
}
#footer .footer-container .social-icons .social-item a img {
    width: 100%;
    filter: grayscale(1);
}
#footer .footer-container .social-icons .social-item:hover a img {
    filter: grayscale(0);
}
#footer .footer-container p {
    color: white;
    font-size: 1.2rem;
}

/* End Fotter */

/* Keyframes */

@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

/* End Keyframes */

/* Media Queries for Tablet */

@media only screen and (min-width: 768px) {

    /* Services Section */

    .services-container .services-bot .services-items-container {
        flex-wrap: wrap;
        flex-direction: row;
        height: 100%;
    }
    .services-container .services-bot .services-items-container .services-item {
        width: 50%;
    }
    .services-container .services-bot .services-items-container .services-item:nth-child(1),
    .services-container .services-bot .services-items-container .services-item:nth-child(3),
    .services-container .services-bot .services-items-container .services-item:nth-child(5),
    .services-container .services-bot .services-items-container .services-item:nth-child(7),
    .services-container .services-bot .services-items-container .services-item:nth-child(9) {
        margin-right: 1px;
    }

    /* End Services Section */

    /* Cases Section */

    .cases-container .cases-bot .cases-items-container .cases-item {
        flex-direction: row;
        max-width: 1200px;
        height: 100%;
        background-color: var(--bluee);
        margin-bottom: 1px;
    }
    .cases-container .cases-bot .cases-items-container .cases-item:nth-child(2) {
        flex-direction: row-reverse;
    }
    .cases-container .cases-bot .cases-items-container .cases-item .cases-item-img { 
        padding: 0px;
    }

    /* End Cases Section */

    /* About Section */

    .about-container {
        flex-direction: row-reverse;
        max-width: 800px;
    }
    .about-container .about-img {
        border-radius: 20px;
    }
    .about-container .about-info {
        margin-right: 12px;
    }

    /* End About Section */

    /* Contact Section */
    
    .contact-container .contact-top {
        max-width: 900px;
    }
    .contact-container .contact-bot .contact-items-container {
        max-width: 800px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .contact-container .contact-bot .contact-items-container .contact-item {
        width: 50%;
    }

    /* End Contact Section */
}

/* End Media Queries for Tablet */

/* Media Query For Desktop */

@media only screen and (min-width: 1200px) {

    /* header */

	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}

	/* End header */

}

/* End Media Query For Desktop */