@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
    background-color: white;
}
a {
	text-decoration: none;
    cursor: pointer;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
    overflow: hidden;
}
h1 {
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
h2 {
    font-size: 2.5rem;
    color: var(--red);
}
h3 {
    font-size: 1.8rem;
    color: var(--red);
}
p {
    color: var(--pink);
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
}
:root {
    --bluee: #1D3C78;
    --white: white;
    --other-white: rgb(234, 234, 234);
}

/* Header */

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}


#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
    background-color: rgb(41, 50, 60);
}
#header .header {
	min-height: 8vh;
	background-color: var(--black);
	transition: 0.3s ease background-color;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
    justify-self: center;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-bar .brand a h1 {
    color: white;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
    background-color: transparent;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: var(--bluee);

}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}

/* End Header */

/* Hero Section */

#hero {
    background-image: url(https://scontent.fpiu1-1.fna.fbcdn.net/v/t39.30808-6/310282424_529106852555108_864114877436357299_n.jpg?stp=dst-jpg_s1080x2048&_nc_cat=103&ccb=1-7&_nc_sid=e3f864&_nc_ohc=8_CT0bIHgykAX_yT57Q&_nc_ht=scontent.fpiu1-1.fna&oh=00_AfDIkuuLl_VtNzEz5Rn20QHcxRRoZIcA4ggOXrk6Z43bmQ&oe=6455759E);
	background-size: contain;
	background-position: top center;
	position: relative;
	z-index: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 60px;
}
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}
#hero .hero-container {
    height: 30vh;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    text-align: center;
}
#hero .hero-container h1 {
    font-size: 3.5rem;
    letter-spacing: .1rem;
    color: var(--white);
    max-width: 300px;
}

/* End Hero Section */

/* Specialties Section */

.specialties-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.specialties-container {
    background-image: url(https://www.higienistasvitis.com/wp-content/uploads/2016/08/HABITOS-DE-HIGIENE-ORAL-EN-PACIENTES-CON-ORTODONCIA_A_shutterstock_417290032.jpg);
	background-size: contain;
	background-position: top center;
	position: relative;
	z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    padding: 40px 0px;
}
.specialties-container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}
.specialties-container .all_specialties-container {
    background-color: var(--bluee);
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 16px;
    margin: 0px 12px;
    cursor: pointer;
}
.specialties-container .all_specialties-container:hover {
    border: 1px solid var(--bluee);
    background-color: white;
}
.specialties-container .all_specialties-container:hover .all_specialties-container-top div h3 {
    color: var(--bluee);
}
.specialties-container .all_specialties-container .all_specialties-container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.specialties-container .all_specialties-container .all_specialties-container-top div {
    display: flex;
}
.specialties-container .all_specialties-container .all_specialties-container-top div h3 {
    color: white;
    letter-spacing: .1rem;
}
.specialties-container .all_specialties-container .all_specialties-container-top div img {
    width: 20px;
    margin-right: 12px;
}
.specialties-container .all_specialties-container .all_specialties-container-top .close-all_specialties-container-top {
    display: none;
}
.specialties-container .all_specialties-container .all_specialties-container-top .close-all_specialties-container-top:hover {
    background-color: var(--bluee);
    border-radius: 50%;
}
.specialties-container .all_specialties-container .all_specialties-container-top .close-all_specialties-container-top img {
    width: 20px;
    height: 20px;
    margin-right: 0px;
}
.specialties-container .all_specialties-container ul {
    list-style: none;
    display: none;
    flex-direction: column;
}
.specialties-container .all_specialties-container ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 4px;
}
.specialties-container .all_specialties-container ul li:nth-child(1) {
    margin-top: 4px;
}
.specialties-container .all_specialties-container:hover li {
    background-color: white;
    border: 1px solid var(--bluee);
}
.specialties-container .all_specialties-container:hover li a {
    color: var(--bluee);
}
.specialties-container .all_specialties-container ul li:hover {
    background-color: var(--bluee);
}
.specialties-container .all_specialties-container ul li:hover a {
    color: white;
}
.specialties-container .all_specialties-container ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.specialties-container .all_specialties-container ul li img {
    width: 16px;
    margin-right: 12px;
}

/* End Specialties Section */

/* Keyframes */

@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

/* End Keyframes */

/* Media Query For Desktop */

@media only screen and (min-width: 1200px) {

    /* header */

	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}

	/* End header */

}

/* End Media Query For Desktop */